*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black; */
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
.wrapper{
    height: 100vh;
    width: 100vw;
}

/* allowsection  starts*/
.allowSection{
    display: none;
}
.active{
    position: relative;
    top: 190px;
    left: 420px;
    display: flex;
    width: 500px;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
[data-text]{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
[data-allow1]{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
    width: 210px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
[data-allow2]{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
    width: 210px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
[data-button]:hover{
    scale:1.01;
}
[data-button]{
    height: 30px;
    width: 110px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: black;  
}

/* allow section ends  */

/* content section starts  */
.contentSection {
    display: none;
}
.contentSection.active {
    display: block;
    position: relative;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.linkedin{
    text-align: center;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    margin-bottom: 50px;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(85, 85, 97);
}
.Home{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
    letter-spacing: 2px;
}
.videoSection{
    padding-left: 50px;
    padding-right: 60px;
    width: 100vw;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
}

@media (max-width: 600px){
    .navBar{
        margin-bottom: 20px;
    }
    .linkedin{
        text-align: center;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .active{
        left: 0px;
        max-width: 380px;
        /* max-height: 300px; */
    }
    .Home{
        font-size: 1rem;
    }
    .videoSection{
    margin-left: -19px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto ;
    }
    .video{
        margin-top:-30px;
        max-width: 330px;
        max-height: auto;
    }
}


.video{

    margin-bottom: 10px;
    width: 390px;
    height: 216px;
}
